<div class="block">
  <form class="form-inline search-form js-inst-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Enter username"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Info</button>
  </form>

  <div class="profile-card js-inst-wrap">
    <img
      class="profile-pic"
      src="https://source.unsplash.com/500x500/?random=1&user,userprofile,profile,avatar"
      alt="Profile Picture"
    />

    <div class="username">PASHCHENKO VOLODYMYR</div>
    <div class="biography">....</div>
    <ul class="bio-links"></ul>
  </div>
</div>
